/* Add your CSS to this file */
body {
    margin: 0;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
    padding: 0;
}

.container {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
}

header {
    background: white;
    padding: 20px 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

header nav ul {
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

header nav ul a{
    color: #6b7280;
    font-size: 18px;
}
header nav ul a:hover{
    color: #5A67D8;
    font-size: 18px;
}
