/* Add your CSS to this file */
body {
    margin: 0;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
    padding: 0;
}

.container {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
}

header {
    background: white;
    padding: 20px 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

header nav ul {
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

header nav ul a{
    color: #6b7280;
    font-size: 18px;
}
header nav ul a:hover{
    color: #5A67D8;
    font-size: 18px;
}

/* Hero Section*/

.overview-hero {
    background: #E2E8F0;
    padding: 70px 0;
}

.overview-hero .container {
    display: flex;
    align-items: center;
    gap:30px;
}

.overview-hero-image img {
    width: 100%;
    max-width: 450px;
    border-radius: 10px;
    
}

.overview-hero-text{
    flex: 1;
}

/* learn about Section*/

.learn-about {
    padding: 60px 0;
}

.learn-about h2 {
    text-align: center;
    font-size: 24px;
    color: #48BB78;
}

.cards {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.card {
    border: 1px solid #E2E8F0;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
    padding: 20px;
    background: white;
}

.card img {
    width: 100%;
    border-radius: 5px;
}

.card h3 {
    color: #48BB78;
    font-size: 21px;
}


/* covid test Section*/

.testing {
    background:#4A5568;
    color: white;
    padding: 60px 0;
}
.testing .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.testing .btn {
    background: #48BB78;
    color: white;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 5px;
}


/* recent stories Section*/

.stories{
    padding: 60px 0;
}

.stories h2{
    color:#5A67D8;
}

.stories article {
    display:flex;
    gap: 20px;
    margin-bottom: 40px;
}

.stories img{
    width:200px;
    height:200px;
    border-radius: 50%;
    object-fit: cover;
}

.article-body h3 {
    font-size: 18px;
}

.article-body a{
    color:#5A67D8;
    text-decoration: none;
    
    
}



/* newsletter Section*/
.newsletter {
    background: #48BB78;
    color: white;
    padding: 60px 0;
    text-align-last: center;
}

.newsletter form {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
}

.newsletter input {
    padding: 10px;
    font-size: 18px;
    border-radius:5px;
    border: none;
    
    
}

.newsletter button {
    background-color: #5A67D8;
    color: white;
    padding: 10px 25px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
}

/* footer */
footer {
    background: #4A5568;
    color: white;
    padding: 20px 0;
    text-align: center;
    margin-top: 40px;
}




